body {
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1719328555610-fa9c42e01096?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90b3MtZmVlZHwzNHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    width: 100%;
  }
  
  .search-bar input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 25px 0 0 25px; 
  }
  
  .search-bar button {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 25px 25px 0; 
  }
  
  .search-bar button svg {
    width: 20px;
    height: 20px;
    color: #333;
  }